prezentacija.aux
prezentacija.log
prezentacija.out
prezentacija.pdf
prezentacija.synctex.gz
prezentacija.toc
prezentacija.snm
prezentacija.nav
sekcije/*.aux
sekcije/*.log
seminarski.aux
seminarski.log
seminarski.out
seminarski.pdf
seminarski.synctex.gz
seminarski.toc
seminarski.blg
seminarski.bbl
10_recenzije.aux
10_recenzije.log
10_recenzije.out
10_recenzije.pdf
10_recenzije.synctex.gz
10_recenzije.toc
